.App {
  text-align: center;
}

.container {
  width: 600px;
  height: 350px;
  margin: 150px 0px 0 150px;
  border: 1px solid grey;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.card {
  width: 100%;
  height: 100%;
}

.card div {
  display: block;
  height: 100%;
  width: 100%;
  /*line-height: 140px;*/
  text-align: center;
  font-weight: bold;
  position: relative;
}

.card span {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
}

.front {
  background: #DEB887;
  color: white;
  font-size: 40px;
}

.back {
  background: #b5eeb7;
  color: black;
  font-size: 20px;
}
